.profile__avatar-button {
  position: relative;
  height: 127px;
  width: 169px;
  background-color: black;
  border: none;
  border-radius: 50%;
  z-index: 0;
}
.profile__avatar-button::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/Pencil.svg);
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
  opacity: 0;
}

/*@media (hover: hover) and (pointer: fine) {*/
.profile__avatar-button:hover::before {
  opacity: 1;
  transition: opacity 0.3s linear;
  cursor: pointer;
}
@media screen and (max-width: 620px) {
  .profile__avatar-button {
    align-self: center;
  }
}
