.profile__info {
  display: inline-block;
  padding-top: 22px;
  box-sizing: border-box;
  margin-left: 22px;
  width: 336px;
}
@media screen and (max-width: 1275px) {
  .profile__info {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 620px) {
  .profile__info {
    padding-top: 0;
    width: 282px;
    margin-left: 0;
  }
}
