.profile {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 51px;
}
@media screen and (max-width: 1275px) {
  .profile {
    max-width: 680px;
  }
}
@media screen and (max-width: 1010px) {
  .profile {
    max-width: 486px;
  }
}
@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    margin-bottom: 37px;
  }
}
