.popup__success-text {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  margin: 0 auto;
  max-width: 358px;
  padding: 32px 36px 60px;
}

@media screen and (max-width: 1185px) {
  .popup__success-text {
    max-width: 244px;
    padding: 40px 25px 50px;
  }
}
@media screen and (max-width: 980px) {
  .popup__success-text {
    max-width: 244px;
    padding: 40px 18px 50px;
  }
}
