.elements__grid-vector_active {
  background-image: url(../../../../images/VectorActive.svg);
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 19px;
  display: block;
  background-size: cover;
  align-self: center;
}
