.header {
  max-width: 880px;
  margin: 0 auto;
  margin-bottom: 39px;
  padding-top: 45px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1010px) {
  .header {
    max-width: 588px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    max-width: 319px;
    padding-top: 28px;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
}
