.register__title {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .register__title {
    font-size: 20px;
    line-height: 25px;
  }
}
